.light-mode {
  --background: #ffffff;
  --onBackground: #000;
  --secondary: #fff;
  --onSecondary: #171e29;
  --lightText: #a6a6a6;
  --border: #f1f1f1;
  --surface: #f1f1f1;
  --onSurface: #171e29;
  --shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.dark-mode {
  --background: #000000;
  --onBackground: rgb(255, 255, 255);
  --secondary: #000;
  --onSecondary: #fff;
  --lightText: #a8a8a8;
  --border: #262626;
  --surface: #1f1f1f;
  --onSurface: #d3d3d3;
  --shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.1);
}

$primary: #368c72;
$onPrimary: #ffffff;
$background: var(--background);
$onBackground: var(--onBackground);
$secondary: var(--secondary);
$onSecondary: var(--onSecondary);
$surface: var(--surface);
$onSurface: var(--onSurface);
$lightText: var(--lightText);
$shadow: var(--shadow);
$border: var(--border);
$dialogRadius: 10px;
$error: #ff4d4f;
$success: #52c41aff;
