html {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  padding: 0;
  position: relative;
  text-rendering: optimizeSpeed;
  background-color: #fff;
  @include phone {
    background-color: $background;
  }
  overflow-y: scroll;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

#__nuxt,
#__layout {
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
// 移除触摸 color
@include phone() {
  button,
  div,
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  color: $primary;
  text-decoration: none;
}

p {
  margin: 0;
}
